//Nav styles
#mobile-menu-container {
    background-color: var(--white);
    grid-column: span 3;
    margin-top: 1em;
    padding: 2em;
    border-radius: 5px;
    opacity: 0;
    height: 60px;
    
}
nav#left-main-menu,
nav#right-main-menu {
    text-align: center;
    grid-column: span 2;
    ul {
        padding-left: 0;
        li{
            padding-bottom: 1.5em;
            list-style-type: none;
            // border: 1px solid red;
            a {
                text-decoration: none;
                font-size: 1.2rem;
                font-family: var(--overPass);
                font-weight: 600;
                color: var(--veryDarkBlue);
            }
            span.arrow {
                margin-left: .5em;
                img{
                    display: inline;
                }
            }
        }
    }
}

nav#left-main-menu {
    ul {
        li#product-parent,
        li#company-parent,
        li#connect-parent {
            // border: 1px solid green;
            padding-top: 1.5em;
            padding-bottom: 1.5em;
        }
        li {
            ul.sub-menu {
                background-color: var(--grayBlue);
                opacity: .5;
            }
        }
    }
    
}

nav#right-main-menu {
    margin-top: 1.5em;
    padding-top: 1.5em;
    border-top: 1px solid var(--grayBlue);
        ul {
            li {
                margin-top: 1em;
                a.btn {
                    background-image: linear-gradient( var(--bkgVeryLightRed), var(--bkgLightRed) );
                    color: var(--white);
                    padding: 1em 3em;
                }
            }
        }
}

li ul.sub-menu {
    padding-top: 1em;
    margin-top: 1em;
        li {
            a {
                color: var(--grayBlue);
            }
        }
}

//animations
@keyframes open-menu {
   from {opacity: 0; height: 0;}
   to {opacity:1; height: 100%;} 
}

@keyframes close-menu {
    from{opacity: 1; height: 100%;}
    to{opacity: 0; height: 0;}
}

//utility class to open submenu
.open {
    animation-name: open-menu;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}
.close {
    animation-name: close-menu;
    animation-duration: .1s;
    animation-fill-mode: forwards;
}

// for buttons and icons
.show {
    display: block;
}

.hide {
   display: none;
}